<%- include('partials/header.ejs') %>
<!-- About  -->
<div id="about">
  <div class="container my-5">
    <div class="about-img-container text-center">
      <img
        src="img/about.webp"
        alt="Kundan"
        class="float-left img-fluid rounded-circle about-img mx-3"
      />
    </div>
    <div class="about-text">
      <p>Hey,</p>

      <p>Let me introduce myself quickly,</p>

      <p>I’m <strong>Kundan Choudhary</strong></p>

      <p>
        The
        <strong>Full -time Blogger, Affiliate marketer,Product Creator</strong>
        and <strong>Entrepreneur</strong>.
      </p>

      <p>
        I’m a 22-year-old full-time blogger who loves to do blogging and
        affiliate marketing and share knowledge with others. I’m still a student
        but a <strong>passionate blogger</strong> and
        <strong>affiliate marketer</strong> by heart.
      </p>

      <p>
        Currently, I’m running many other affiliate blogs and doing affiliate
        marketing and launching own product in international’s market and
        earning a decent amount of money from that.
      </p>

      <p><strong>Let talks about this blog</strong></p>

      <p>
        I started this blog to help every newbie blogger to succeed in blogging.
        That is why I name this blog, “Guide Blogging.”
      </p>

      <p>Want to know more about this blog?</p>

      <p>
        Yes, Of course! Let me introduce my blog and how it helps you, and then
        I will tell you my story.
      </p>

      <h2 id="what-is-guide-blogging-all-about" class="my-4">
        What Is Guide Blogging All About?
      </h2>

      <p>
        GuideBlogging is the blog that guides you to become a<strong>
          better blogger</strong
        >. In this blog, we talk about Blogging, Affiliate Marketing, and much
        other stuff that can help you to start in this online world and grow
        your blog like a skyrocket.
      </p>

      <p>
        This blog helps you to seriously grow your blog and help you to generate
        the right amount of money (but If you work hard and we don’t share any
        quick rich schemes).
      </p>

      <p>
        You know that in 2019 blogging has become so tuff so to stick in this,
        you need some robust strategies which will work for you.
      </p>

      <p>So we are here to help you with this ?</p>

      <p>
        I started this blog on (28 March 2019) to help newbie bloggers and try
        to help them to scale their blog in 2019 and beyond. I share the best
        strategies which work for me.
      </p>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs') %>
