<%- include('partials/header.ejs') %>

<!-- Admin  -->
<div class="container" id="post-container">
  <h1 class="my-4">Hello Ankit</h1>
  <%- include('partials/form-fields') %>
</div>

<%- include('partials/footer.ejs') %>
