<%- include('partials/header.ejs') %>
<section id="contact">
  <div class="container my-5">
    <div class="red-box bg-danger my-5 py-3 text-center">
      <h2>Contact Us</h2>
    </div>
    <h1 class="text-center">
      Got Any Question ? Or Want To Advertise Your Product Or Service ?
    </h1>
    <p class="lead">
      Hey there,&nbsp;thanks for your interest in&nbsp;reaching out and
      connecting with us.
    </p>
    <p class="lead">
      If you want to advertise your blog, website, product or brand here on our
      blog, looking for any blogging services or simply want to give your
      feedback about my blog, then you can contact me through below mentioned
      ways.
    </p>
    <div class="email d-flex align-items-center">
      <h3 class="mr-2">Email me:</h3>
      <a href="#">support@guideblogging.com</a>
    </div>
    <p class="lead">We’ll respond to you as soon as time allows.</p>
  </div>
</section>
<%- include('partials/footer.ejs') %>
