<%- include('partials/header.ejs') %>

<!-- Home  -->
<div id="home">
  <div class="container">
    <div class="row featurette d-flex align-items-center">
      <div class="col-md-5">
        <img
          src="img/home.webp"
          alt=""
          class="featurette-image img-fluid mx-auto"
        />
      </div>
      <div class="col-md-7 text-center">
        <h2 class="featurette-heading my-5">
          Get 5<span class="orange"> Secret Hacks </span> to Go From
          <span class="orange">$0 to $10K Per Month</span>
          in Affiliate Marketing
        </h2>
        <h5 class="my-5">
          No Experience, No Tech Skills or No Credit Card Required, Absolutely
          FREE
        </h5>
        <form
          action="//web.webformscr.com/apps/fc3/build/loader.js"
          method="post"
        >
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Name" />
            </div>
            <div class="col">
              <input
                type="email"
                class="form-control"
                placeholder="Email address"
              />
            </div>
          </div>
          <button
            class="btn btn-primary bg-orange my-3 w-100 border-0 font-weight-bold py-3"
          >
            SHOW ME NOW!
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script
  src="//web.webformscr.com/apps/fc3/build/loader.js"
  async
  sp-form-id="14e30f7d8f81ae4224e36306bd0587f202e35a2f34bc81183806f248c5da794a"
></script>

<%- include("partials/footer.ejs") %>
