<%- include('partials/header.ejs') %>
<!-- Toolkit  -->
<div id="toolkit">
  <div class="container text-center my-4">
    <h1 class="entry-title">Tools We Use &amp; Recommend</h1>
    <img
      src="img/toolkit.webp"
      alt="toolkit-img"
      class="img-fluid toolkit-img my-3"
    />
    <div class="words md-w-50 border p-3 my-4 mx-auto">
      <h4>
        These are the exact blogging tools We’ve been using to run
        guideblogging.com and crushing it So If you want to replicate all our
        strategy then We highly recommend these tools if you’re serious about
        blogging and ready to take your blog into the next level.
      </h4>
    </div>
  </div>
</div>

<!-- Web Hosting -->
<div id="webhosting">
  <div class="webhosting-title text-center bg-dark text-light py-3">
    <h1>Web Hosting Tools Recommended</h1>
  </div>
  <div class="container">
    <div class="card-container row my-3">
      <div class="card-box col-md-4 col-lg-4 my-3 text-center p-5">
        <img
          src="img/tools/hosting/rocket-hosting-logo.webp"
          alt="rocket-hosting-logo"
          class="card-img img-fluid"
        />
        <hr />
        <h5>Rocket.net</h5>
        <p>
          Grow your business with lightning fast, secure and fully optimised
          websites that are easy to set up & manage specially for Agencies &
          Creatives.
        </p>
        <button
          class="bg-orange font-weight-bold border-0 text-light w-100 py-2"
        >
          Get Now
        </button>
      </div>
      <div class="card-box col-md-4 col-lg-4 my-3 text-center p-5">
        <img
          src="img/tools/hosting/bluehost-logo.webp"
          alt="bluehost-logo"
          class="card-img img-fluid"
        />
        <hr />
        <h5>Bluehost</h5>
        <p>
          Get The Fast & Secure hosting with 99% uptime, Recommended by
          wordpress with 24/7 Experts help for beginners, pros and just about
          anyone.
        </p>
        <button
          class="bg-orange font-weight-bold border-0 text-light w-100 py-2"
        >
          Get Now
        </button>
      </div>
      <div class="card-box col-md-4 col-lg-4 my-3 text-center p-5">
        <img
          src="img/tools/hosting/a2-hosting-logo.webp"
          alt="a2-hosting-logo"
          class="card-img img-fluid"
        />
        <hr />
        <h5>A2 Hosting</h5>
        <p>
          Start your blog, Website and business with Up to 20X faster Turbo
          Speed, Guru Crew Support, 99.9% Uptime Commitment With Money-Back
          Guarantee.
        </p>
        <button
          class="bg-orange font-weight-bold border-0 text-light w-100 py-2"
        >
          Get Now
        </button>
      </div>
      <div class="card-box col-md-4 col-lg-4 my-3 text-center p-5">
        <img
          src="img/tools/hosting/hostinger-logo.webp"
          alt="hostinger-logo"
          class="card-img img-fluid"
        />
        <hr />
        <h5>Hostinger</h5>
        <p>
          Treat your website with a Secure & Premium Affordable Web Hosting With
          Custom User-Friendly Control Panel, Easy to use, Powerful and
          WordPress Optimised.
        </p>
        <button
          class="bg-orange font-weight-bold border-0 text-light w-100 py-2"
        >
          Get Now
        </button>
      </div>
    </div>
  </div>
</div>

<!--Email Marketing-->
<div id="webhosting">
  <div class="webhosting-title text-center bg-dark text-light py-3">
    <h1>Email Marketing Tools Recommended</h1>
  </div>
  <div class="container">
    <div class="card-container row my-3">
      <div class="card-box col-md-4 col-lg-4 my-3 text-center p-5">
        <img
          src="img/tools/email/getresponse-logo.webp"
          alt="getresponse-logo"
          class="card-img img-fluid"
        />
        <hr />
        <h5>GetResponse</h5>
        <p>
          Powerful, simplified tool to send emails, create pages, and automate
          your marketing from scratch.
        </p>
        <button
          class="bg-orange font-weight-bold border-0 text-light w-100 py-2"
        >
          Get Now
        </button>
      </div>
      <div class="card-box col-md-4 col-lg-4 my-3 text-center p-5">
        <img
          src="img/tools/email/activecampaign-logo.webp"
          alt="activecampaign-logo"
          class="card-img img-fluid"
        />
        <hr />
        <h5>ActiveCampaign</h5>
        <p>
          ActiveCampaign gives you the email marketing, marketing automation,
          and CRM tools you need to create incredible customer experiences for
          your business.
        </p>
        <button
          class="bg-orange font-weight-bold border-0 text-light w-100 py-2"
        >
          Get Now
        </button>
      </div>
      <div class="card-box col-md-4 col-lg-4 my-3 text-center p-5">
        <img
          src="img/tools/email/sendinblue-logo.webp"
          alt="sendinblue-logo"
          class="card-img img-fluid"
        />
        <hr />
        <h5>Sendinblue</h5>
        <p>
          Sendinblue is the smartest and most intuitive platform for growing
          businesses. Thrive digitally as we guide your business with the right
          marketing & sales tools.
        </p>
        <button
          class="bg-orange font-weight-bold border-0 text-light w-100 py-2"
        >
          Get Now
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Page Builder-->
<div id="webhosting">
  <div class="webhosting-title text-center bg-dark text-light py-3">
    <h1>Page Builder Recommended</h1>
  </div>
  <div class="container">
    <div class="card-container row my-3">
      <div class="card-box col-md-4 col-lg-4 my-3 text-center p-5">
        <img
          src="img/tools/p-builder/elementor-logo.webp"
          alt="elementor-logo"
          class="card-img img-fluid"
        />
        <hr />
        <h5>Elementor</h5>
        <p>
          From landing pages, and ecommerce stores, to full-blown websites –
          build it all by drag & drop with Elementor.
        </p>
        <button
          class="bg-orange font-weight-bold border-0 text-light w-100 py-2"
        >
          Get Now
        </button>
      </div>
      <div class="card-box col-md-4 col-lg-4 my-3 text-center p-5">
        <img
          src="img/tools/p-builder/clickfunnels-logo.webp"
          alt="clickfunnels-logo"
          class="card-img img-fluid"
        />
        <hr />
        <h5>ClickFunnels</h5>
        <p>
          Quickly Create Beautiful Sales Funnels That Convert Your Visitors Into
          Leads And Then Customers With Clickfunnels.
        </p>
        <button
          class="bg-orange font-weight-bold border-0 text-light w-100 py-2"
        >
          Get Now
        </button>
      </div>
      <div class="card-box col-md-4 col-lg-4 my-3 text-center p-5">
        <img
          src="img/tools/p-builder/leadpages-logo.webp"
          alt="leadpages-logo"
          class="card-img img-fluid"
        />
        <hr />
        <h5>Leadpage</h5>
        <p>
          Grow your business with the easy-to-use platform designed to help you
          build your email list and sell services online.
        </p>
        <button
          class="bg-orange font-weight-bold border-0 text-light w-100 py-2"
        >
          Get Now
        </button>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs') %>
